@model RockFS.Models.Auth.EmailModel

@{
    ViewBag.Title = "RockFS | Forgot Password";
    ViewData["R-Title"] = "RockFS | Account Recovery";
    Layout = "_Layout";
}

<div class="d-flex justify-content-center w-100">
    <div class="d-flex flex-row">
        <form asp-action="ForgotPassword" method="post">
            <h2>Forgot Password</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Email" class="form-control  form-dark" autocomplete="email" aria-required="true" />
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-outline-dark btn-light">Send Password Reset Email</button>
        </form>
        <div class="px-5">
            <h2>Other Actions</h2>
            <hr/>
            <p>
                <a href="@Urls.LoginUrl">Return to login</a>
                <br/>
                <a href="@Urls.RegisterUrl">Register a new account</a>
            </p>
        </div>
    </div>
</div>