@model RockFS.Models.Auth.LoginModel
@{
    ViewBag.Title = "RockFS | Login";
    ViewData["R-Title"] = "RockFS | Account Login";
    Layout = "_Layout";
}
<div class="d-flex justify-content-center w-100">
    <div class="d-flex flex-row">
        <form style="max-width: 450px" id="loginForm" asp-action="LoginAccount" method="post">
            <h2>Login with your account.</h2>
            <hr/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Email" class="form-control  form-dark" autocomplete="username" aria-required="true"/>
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Password" class="form-control  form-dark" autocomplete="new-password" aria-required="true"/>
                <label asp-for="Password"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                <div class="checkbox pt-2">
                    <label asp-for="RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="RememberMe"/>
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <button id="loginSubmit" type="submit" class="w-100 btn btn-outline-dark btn-light">Login</button>
        </form>
        <div class="px-5">
            <h2>Other Actions</h2>
            <hr/>
            <p>
                <a href="@Urls.RegisterUrl">Register a new account</a>
                <br/>
                <a href="@Urls.ForgotPasswordUrl">Forgot your password?</a>
                <br/>
                <a href="@Urls.ResendEmailUrl">Resend email confirmation</a>
            </p>
        </div>
    </div>
</div>