@using Microsoft.AspNetCore.Identity
@using RockFS.Data.Models
@inject SignInManager<RockFsUser> SignInManager
@inject UserManager<RockFsUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <div class="text-muted" style="padding: 0.5rem 1rem;">Logged into @User.Identity.Name</div>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Auth" asp-action="Logout" method="post">
                <button type="submit" class="nav-link btn btn-link text-light">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Auth" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
        </li>
    }
</ul>