html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

html, body{
  background-color: #2c3034;
  color: white;
}

.form-dark{
  background: #2d3234;
  color: #e3e3e3;
}

.form-dark:focus{
  background: #202525;
  color: white;
}

a{
  color: #0dcaf0;
}

a:hover{
  color: #89e9ff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #243150 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.text-muted {
  --bs-text-opacity: 1;
  color: #c0cad0 !important;
}

.rfs-grid{
  display: grid;
  grid-template-columns: auto 1fr;
}
.rfs-wrapper{
  position: relative;
  display: inline-block;
}
.rfs-title{
  font-size: 1rem;
  color: white;
  letter-spacing: 2px;
  white-space: nowrap;
  writing-mode: vertical-rl;
  padding: 5px;
  background-color: #2b72ab;
}

/*Context Menu*/

.dropdown-menu{
  background-color: #4a4a4a !important;
  box-shadow: 0 0 10px #202323;
  padding: 0;
  border-radius: 5px;
}

.dropdown-menu > li[role=presentation]{
  padding-left: 6px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 2px;
}
.dropdown-menu > li[role=presentation]:hover{
  background-color: #616161 !important;
  cursor: default;
  transition: 0.2s;
  border-radius: 5px;
}

.dropdown-menu > li > a{
  text-decoration: none;
  color: white;
  cursor: default;
}

.dropdown-menu > li > a > i{
  margin-left: 5px;
  margin-right: 2px;
  font-size: 10pt;
}

.dropdown-menu > li > a > span{
  margin-left: 4px;
  font-size: 9pt;
}

.dropdown-menu > li[class=divider]{
  background-color: #636363;
  height: 1px;
}

.rfs-button{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  color: white;
  text-decoration: none;
}
.rfs-button:hover{
  background-color: #222526;
}
.rfs-button:active{
  background-color: #181a1a;
}
:root {
  color-scheme: dark;
}